---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro'

interface MarkdownFrontmatter {
  date: number;
}

let title = 'R0N1n-dev';
let description = 'A Blog using Astro';
let seoDescription = 'Creek is a theme for Astro static site generator';

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<html lang="en">
  <head>
    <BaseHead title={title} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />

    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <HomeHeader title={title} description={description} />
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
          {allPosts.slice(0, 6).map(p => <div class="col-span-1"><Card post={p} /></div>)}
        </section>
      </article>
    </main>
    
    <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
      <a
        href="/posts"
        class="mr-8"
        data-test="see-all-link"
        >
        See All<span class="squiggle">&rarr;</span>
      </a>
    </section>

    <Footer />
  </body>
</html>
